* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
/* common css */
.primary-btn {
  background-color: #1d4ed8;
  padding: 10px 24px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.outline-btn {
  background-color: transparent;
  padding: 10px 24px;
  border: 1px solid #2563EB;
  border-radius: 8px;
  color: #2563EB;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}
/* Header section css */
header {
  background-color: #fff;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 110px;
}
nav img {
  cursor: pointer;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #575757;
  font-family: "Arimo", sans-serif;
}
/* Hero section css */
.hero {
  height: calc(100vh - 90px);
  width: 100%;
  background-image: url(./assets/Hero.png);
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay {
  position: absolute;
  width: 100%;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
}
.hero-content {
  color: #ffffff;
  position: relative;
  z-index: 99;
  text-align: center;
  width: 48%;
  height: inherit;
  padding: 120px 0;
}
.hero-content h1 {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 16px;
}
.hero-content p {
  font-size: 22px;
  font-weight: 300;
}
.btn-position {
  position: relative;
  bottom: -60%;
  padding: 16px 34px;
  font-size: 20px;
}
/* speakers section css */
.speakers {
  margin: 80px 0;
}
.speakers h2 {
  font-size: 56px;
  font-weight: bold;
  color: #000102;
  text-align: center;
  margin-bottom: 56px;
}
.speaker-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  width: 80%;
  margin: 0 auto;
}
.speaker-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  overflow: hidden;
}
.speaker-card-content{
  padding: 24px;
}
.speaker-card-content span{
  font-size: 12px;
  font-weight: 600;
  color: #2563eb;
  margin-bottom: 8px;
}
.speaker-card-content h3{
  font-size: 20px;
  font-weight: bold;
  color: #0d1b2a;
  margin-bottom: 8px;
}
.speaker-card-content p{
  font-size: 14px;
  color: #575757;
}
/* pricing section css */
.pricing h2{
  font-size: 48px;
  font-weight: bold;
  color: #0d1b2a;
  text-align: center;
}
.pricing p{
  font-size: 16px;
  color: #575757;
  line-height: 24px;
  text-align: center;
  margin-bottom: 48px;
}
.pricing-cards{
  /* display: flex;
  justify-content: space-evenly; */
  display: grid;
  grid-template-columns: 380px 420px 380px;
  justify-content: center;
  gap: 24px;
  width: 70%;
  margin: 0 auto;
}
.pricing-card{
  padding: 32px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
}
.pricing-card h6{
  color: #888888;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}
.pricing-card h3{
  font-size: 44px;
  font-weight: bold;
  color: #0d1b2a;
}
.pricing-card span{
  font-size: 13px;
  color: #888888;
  display: inline-block;
  margin-bottom: 20px;
}
.pricing-card ul{
  padding: 20px 15px;
  border-top: 1px solid #E5E7EB;
}
.pricing-card ul li{
  font-size: 14px;
  color: #333333;
  margin-bottom: 10px;
}
.pricing-card ul li::marker{
  color: #2563EB;
}
.special{
  background-color: #0D1B2A;
}
.special h6{
  color: #93C5FD;
}
.special h3{
  color: #ffffff;
}
.special span{
  color: #fff;
  opacity: 60%;
}
.special ul li{
  color: #ffffff;
  opacity: 80%;
}
.special button{
  width: 100%;
}
/* missing section css */
.missing {
  margin: 100px 0;
}
.missing-content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
}
.missing-content i{
  color: #2563EB;
  font-size: 44px;
  margin-top: 44px;
}
.missing-content h2{
  font-size: 48px;
  font-weight: bold;
  color: #0d1b2a;
  text-align: center;
}
.missing-content p{
  font-size: 14px;
  color: #575757;
  line-height: 24px;
  text-align: center;
  margin-bottom: 32px;
}
.missing-content form{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 12px;
  width: 40%;
  margin: 0 auto;
}
.missing-content form input[type = "email"]{
  padding: 13px 24px;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
}
.missing-content span{
  color: #575757;
  font-size: 12px;
}
.missing-content span i{
  color: #575757;
  font-size: 14px;
  margin: 0;
}